<div class="content">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource && dataSource.length; else noProducts">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Наименование </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Цена </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Количество </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="icon" (click)="removeProductFromCart(element)">
            <mat-icon>remove</mat-icon>
        </button>
        {{element.count}}
        <button mat-icon-button class="icon" (click)="addProductToCart(element)">
            <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalProductCount">
      <th mat-header-cell *matHeaderCellDef> Общая цена </th>
      <td mat-cell *matCellDef="let element"> {{(element.count * element.price) | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="disclaimer">
      <td mat-footer-cell *matFooterCellDef colspan="4">
        <h4>Цена за все товары: {{total | currency}}</h4>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
  </table>

  <ng-template #noProducts>
    <div class="no-products">Корзина 🗑 пуста!</div>
  </ng-template>
</div>