.spacer {
  flex: 1 1 auto;
}

.container {
	min-height: calc(100vh - 64px);
}

.sidenav {
  width: 160px;
  .mat-list-base {
    padding-top: 0;
  }
  .mat-list-item {
    &.active {
      background: rgba(63,81,181,.15);
      color: #3f51b5;
    }
  }
}

