<mat-toolbar color="primary">
  <button mat-icon-button class="icon" aria-label="menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="home">Shop</span>
  <span class="spacer"></span>

  <button mat-button class="icon" aria-label="shopping_cart" routerLink="cart">{{total$ | async | currency}}&nbsp;</button>
  <button mat-icon-button class="icon" aria-label="shopping_cart" routerLink="cart">
      <mat-icon
        [matBadge]="countProduct$ | async"
        [matBadgeHidden]="!(countProduct$ | async)"
        matBadgePosition="before"
        matBadgeColor="accent">
          shopping_cart
      </mat-icon>
  </button>

</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    [mode]="mobileQuery.matches ? 'side' : 'over'"
    [opened]="mobileQuery.matches">

    <mat-nav-list role="navigation">
      <mat-list-item routerLink="home" routerLinkActive="active">Главная</mat-list-item>
      <mat-list-item [routerLink]="['category', category.id]" *ngFor="let category of categories$ | async" routerLinkActive="active">
        {{category.name}}
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>