.sidenav-content {
  display: grid;
  padding: 15px 25px;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;

  @media screen and (min-width: 620px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 940px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  max-width: 500px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}